<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/normalize.css" />
    <link rel="stylesheet" href="styles/styles.css" />
    <title>eShop</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  </head>
  <body>
    <div id="app" class="wrapper">
      <header class="wrapper__header">
        <div class="header-top">
          <div class="container">
            <div class="header-top__content"></div>
          </div>
        </div>
        <div class="header-bottom">
          <div class="container">
            <div class="header-bottom__content">
              <search-form v-model="search" @search="filterGoods"></search-form>
              <cart>
                <cart-goods-item
                  v-for="item in cart"
                  :key="item.id_product"
                  :title="item.product_name"
                  :price="item.price"
                ></cart-goods-item>
              </cart>
            </div>
          </div>
        </div>
      </header>
      <main class="wrapper__content">
        <div class="container">
          <goods-list>
            <goods-item
              v-for="item in filteredGoods"
              :key="item.id_product"
              :title="item.product_name"
              :price="item.price"
            ></goods-item>
          </goods-list>
        </div>
      </main>
      <footer class="wrapper__footer footer">
        <div class="container"></div>
      </footer>
    </div>
    <script src="scripts/main.js"></script>
  </body>
</html>
